---
---

<div
  class="flex flex-col max-w-[1400px] px-2 py-4 mx-auto justify-between sm:flex-row text-center text-slate-500"
>
  <p class=" py-4">2022 Experiences, LLC. ALL rights reserved</p>
  <div class="flex justify-between sm:w-[300px] pt-4 text-2xl"></div>
</div>
