---
import Imagen from "@components/Imagen.astro";
import Maldives from "@assets/beach.webp";
---

<div class="w-full h-screen">
  <Imagen
    img={Maldives}
    alt="Maldives Beach img"
    ImgClass="top-0 left-0 w-full object-cover h-screen"
  />
  <div class="bg-slate-900/30 absolute top-0 left-0 w-full h-screen"/>
  <div
    class="absolute top-0 w-full h-full flex flex-col justify-center text-stone-50"
  >
    <div class="md:left-[10%] max-w-[1100px] m-auto absolute p-4">
      <p>All inclusive</p>
      <h1 class="font-bold text-5xl md:text-7xl drop-shadow-2xl">
        Private Beaches & Getaways
      </h1>
      <p class="max-w-[600px] drop-shadow-2xl py-2 text-xl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias rerum
        quae architecto nam officia.
      </p>
      <button class="border py-2 px-3 rounded-full bg-slate-50 text-slate-900"
        >Reservar Ahora</button
      >
    </div>
  </div>
</div>
