---
import PlanGall from "@components/layout/PlanGall.astro";
---

<div class="max-w-[1400px] m-auto py-16 px-4 grid lg:grid-cols-2 gap-4">
  <div class="grid grid-cols-2 grid-rows-6 h-[80vh]">
    <PlanGall />
  </div>
  <div class="flex flex-col h-full justify-center ml-8">
    <h3 class="text-5xl md:text-6xl font-bold">Tu proximo Viaje</h3>
    <p class="text-2xl py-6">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis,
      eveniet.
    </p>
    <p class="pb-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis distinctio,
      eaque asperiores aliquid natus et at inventore incidunt ea laboriosam
      quidem itaque accusantium? Inventore, tempore.
    </p>

    <div>
      <button
        class="border py-2 px-3 rounded-full border-slate-900 mr-4 hover:shadow-xl"
        >Ver más</button
      >
      <button
        class="border py-2 px-3 rounded-full bg-slate-900 text-slate-50 hover:shadow-xl"
        >Agenda tu Viaje</button
      >
    </div>
  </div>
</div>
