---
import MainHead from "@layouts/MainHead.astro";
import Hero from "@components/layout/Hero.astro";
import Nav from "@components/Nav";
import Offers from "@components/Offers.astro";
import Plan from "@components/Plan.astro";
import Rooms from "@components/Rooms.astro";
import ImageSlider from "@components/ImageSlider";
import Footer from "@components/Footer.astro";

const { title, seoDesc, seoTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <MainHead />
  <body class="bg-slate-200 text-slate-800">
    <Nav client:load />
    <Hero />
    <Offers />
    <Plan />
    <Rooms />
    <ImageSlider client:load />
    <Footer />
    <slot />
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </body>
</html>
